backend:
  name: git-gateway
  branch: main

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "landing"
    label: "Лендинг"
    files:
      - name: "landing_settings"
        file: "content/landing.json"
        label: "Настройки"
        fields:
          - { label: "Цена", name: "price", widget: "number" }
          - { label: "Дата", name: "date", widget: "datetime" }
          - { label: "Описание", name: "description", widget: "text" }
